<div class="rcorners2">
  <form name="review_search" id="review_search_form">
    <input id="search_input" name="query" type="text" placeholder="Your question" class="review_search_bar">
    <input id="submit" type="submit" value="Ask" class="review_search_button">
  </form>

  <div class="search_response_wrapper hidden">
    <div class="review_search_response">
    </div>
    <div class="scroll_button_wrapper">
      <div class="scroll_button">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
